/.quarto/
/_site/
.DS_Store
.ipynb_checkpoints
Thumbs.db
.vscode/
.idea/
.quarto_cache/

__pycache__/
*.py[codz]
*.pyc
*.pyo
.env
.envrc
.venv/
env/
venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

.Rproj.user/
.Rhistory
.RData
.Ruserdata